<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cafuc.flyeat.sb.dormitorymanagement.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.cafuc.flyeat.sb.dormitorymanagement.model.UserInfo" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="identify_number" property="identifyNumber" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.cafuc.flyeat.sb.dormitorymanagement.model.UserInfo" >
    insert into user_info (name, identify_number, tel, 
      organization, status)
    values (#{name,jdbcType=VARCHAR}, #{identifyNumber,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{organization,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cafuc.flyeat.sb.dormitorymanagement.model.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="identifyNumber != null" >
        identify_number,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>